{% load static from staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Darshana International | Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'assets/js/ie/html5shiv.js' %} "></script><![endif]-->
		<link href="{% static 'assets/css/main.css' %} " rel="stylesheet">
		<!-- <link rel="stylesheet" href="assets/css/main.css" /> -->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'assets/css/ie8.css' %} " /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'assets/css/ie9.css' %} " /><![endif]-->
	</head>
  {% block body_class %}<body class="index">{% endblock %}
		<div id="page-wrapper">
			<!-- Header -->
				{% block header_class %}<header id="header" class="alt">{% endblock %}
					<h1 id="logo"><a href="/">Darshana <span>International</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="/contact">Contact</a></li>
							<li class="submenu">
								<a href="#">Find Us on Map</a>
							</li>
							<li><a href="#" class="button special">Call Us</a></li>
						</ul>
					</nav>
				</header>

{% block main %}{% endblock %}

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; FirstBytes</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

				</footer>

		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %} "></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %} "></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %} "></script>
			<script src="{% static 'assets/js/jquery.scrollgress.min.js' %} "></script>
			<script src="{% static 'assets/js/skel.min.js' %} "></script>
			<script src="{% static 'assets/js/util.js' %} "></script>
			<!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %} "></script>

	</body>
</html>
